@page "/Account/Manage/ChangePassword"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using PuppetFestAPP.Web.Components.Pages.Inventory
@using PuppetFestAPP.Web.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Change password</PageTitle>

<MudContainer MaxWidth="MaxWidth.Small"
                ObjectPosition="ObjectPosition.Center">

    <MudButton Href="Account/Manage" 
                Variant="Variant.Text"
                Color="Color.Primary" 
                Size="Size.Medium"
                StartIcon="@Icons.Material.Filled.ArrowBack"
                Style="text-decoration: none;"
                Class="my-2">
        Back
    </MudButton>

    <MudText Class="my-5">
        <h3>Change password</h3>
    </MudText>

    @if (!string.IsNullOrEmpty(@errorMessage))
    {
        <MudAlert Severity="Severity.Error" 
                Variant="Variant.Text"
                Class="my-5">
            <StatusMessage Message="@errorMessage" />
        </MudAlert>
    } 
    
    @if (!string.IsNullOrEmpty(@successMessage))
    {
        <MudAlert Severity="Severity.Success" 
                Variant="Variant.Text"
                Class="my-5">
            <StatusMessage Message="@successMessage" />
        </MudAlert>
    }

    <EditForm Model="Input" FormName="change-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            @* <ValidationSummary class="text-danger" role="alert" /> *@

            <div>
                <MudTextField @bind-Value="Input.OldPassword"
                    For="@(() => Input.OldPassword)"
                    Name="Input.OldPassword" 
                    id="Input.OldPassword"
                    ShrinkLabel 
		            Label="Old Password"
                    placeholder="Enter your current password"
                    Variant="Variant.Outlined" 
                    InputType="InputType.Password"
                    Required="true" 
                    aria-required="true"
                    FullWidth="true" 
                    Class="my-5"/>
            </div>

            <div>
                <MudTextField @bind-Value="Input.NewPassword"
                    For="@(() => Input.NewPassword)"
                    Name="Input.NewPassword" 
                    id="Input.NewPassword"
                    ShrinkLabel 
		            Label="New Password"
                    placeholder="Enter your new password"
                    Variant="Variant.Outlined" 
                    InputType="InputType.Password"
                    Required="true" 
                    aria-required="true"
                    FullWidth="true" 
                    Class="my-5"/>
            </div>

            <div class="form-floating mb-3">
                <MudTextField @bind-Value="Input.ConfirmPassword"
                    For="@(() => Input.ConfirmPassword)"
                    Name="Input.ConfirmPassword" 
                    id="Input.ConfirmPassword"
                    ShrinkLabel 
		            Label="Confirm New Password"
                    placeholder="Enter your new password"
                    Variant="Variant.Outlined" 
                    InputType="InputType.Password"
                    Required="true" 
                    aria-required="true"
                    FullWidth="true" 
                    Class="my-5"/>
            </div>

            <MudButton ButtonType="ButtonType.Submit" 
                        Variant="Variant.Filled" 
                        Color="Color.Primary" 
                        FullWidth="true" 
                        Size="Size.Large" 
                        Class="my-2">
                Update Password
            </MudButton>
        </EditForm>

</MudContainer>

@code {
    private string? errorMessage; 
    private string? successMessage; 
    private ApplicationUser user = default!;
    private bool hasPassword;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        hasPassword = await UserManager.HasPasswordAsync(user);
        if (!hasPassword)
        {
            RedirectManager.RedirectTo("Account/Manage/SetPassword");
        }
    }

    private async Task OnValidSubmitAsync()
    {
        var changePasswordResult = await UserManager.ChangePasswordAsync(user, Input.OldPassword, Input.NewPassword);
        if (!changePasswordResult.Succeeded)
        {
            errorMessage = $"Error: {string.Join(",", changePasswordResult.Errors.Select(error => error.Description))}";
            return;
        }

        await SignInManager.RefreshSignInAsync(user);
        Logger.LogInformation("User changed their password successfully.");

        successMessage = "Your password has been changed";
        //RedirectManager.RedirectToCurrentPageWithStatus("Your password has been changed", HttpContext
    }

    private sealed class InputModel
    {
        [Required]
        [DataType(DataType.Password)]
        [Display(Name = "Current password")]
        public string OldPassword { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "New password")]
        public string NewPassword { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm new password")]
        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
