@using Microsoft.AspNetCore.Components.Authorization
@implements IDisposable
@inject NavigationManager NavigationManager


<style>
    .mud-navmenu {
        background-color: #5D1E21;
        color: white !important;
        height: 100%;
        padding-top: 12px;
    }
    .mud-nav-link, .mud-nav-group-header, .mud-nav-link .mud-nav-link-icon-default {
        color: rgba(255, 255, 255, 0.85) !important;
    }
    .mud-nav-link.active {
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: #ffffff !important;
    }
    .mud-nav-link:hover {
        background-color: rgba(255, 255, 255, 0.05) !important;
    }
    .mud-divider {
        border-color: rgba(255, 255, 255, 0.12) !important;
        margin: 8px 0;
    }
    .logout-button {
        justify-content: flex-start !important;
        text-transform: none !important;
        color: rgba(255, 255, 255, 0.85) !important;
        padding-left: 16px !important;
        font-weight: 400 !important;
    }
</style>


<MudNavMenu>
    <AuthorizeView Context="authContext">
        <Authorized>
            @* 1. Core Navigation *@
            <MudNavLink Href="dashboard" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Dashboard</MudNavLink>
            <MudNavLink Href="alerts" Icon="@Icons.Material.Filled.Notifications">Alerts</MudNavLink>
            <MudNavLink Href="/locations" Icon="@Icons.Material.Filled.LocationOn">Locations</MudNavLink>
            <MudNavLink Href="products" Icon="@Icons.Material.Filled.LibraryBooks">Product Catalog</MudNavLink>
            <MudNavLink Href="inventory/stock" Icon="@Icons.Material.Filled.Inventory">Inventory</MudNavLink>
           
            @* FIXED: Swapped 'TwelveMp' for 'AppRegistration' *@
            <MudNavLink Href="/inventory/recount" Icon="@Icons.Material.Filled.AppRegistration">Inventory Recount</MudNavLink>


            <MudDivider />


            @* 2. Box Management *@
            <MudNavLink Href="/inventory/transfer/create" Icon="@Icons.Material.Filled.MoveToInbox">Pack a Box</MudNavLink>
            <MudNavLink Href="/inventory/transfers" Icon="@Icons.Material.Filled.CheckBox">Outgoing/Incoming Boxes</MudNavLink>
            <MudNavLink Href="sales/create" Icon="@Icons.Material.Filled.AttachMoney">Record Sales</MudNavLink>


            <MudDivider />


            @* 3. Account & Admin *@
            <MudNavLink Href="Account/Manage" Icon="@Icons.Material.Filled.Person">Account Settings</MudNavLink>
           
            @if (authContext.User.IsInRole("Admin"))
            {
                <MudNavLink Href="admin/users" Icon="@Icons.Material.Filled.Group">Admin User Management</MudNavLink>
            }


            <div class="mt-4">
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Text"
                               StartIcon="@Icons.Material.Filled.Logout"
                               FullWidth="true"
                               Class="logout-button">
                        Log Out
                    </MudButton>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <MudNavLink Href="Account/Login" Icon="@Icons.Material.Filled.Login">Log In</MudNavLink>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>


@code {
    private string? currentUrl;


    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }


    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }


    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
